.cssload-container *, .cssload-container *:before, .cssload-container *:after{
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
}

.cssload-container {
	display: inline-block;
}
.cssload-container > div {
	float: left;
	background: transparent;
	height: 8px;
	width: 8px;
	margin-right: 2px;
	display: inline-block;
}

.cssload-container .cssload-shaft1 {
	animation-delay: 0.0125s;
		-o-animation-delay: 0.0125s;
		-ms-animation-delay: 0.0125s;
		-webkit-animation-delay: 0.0125s;
		-moz-animation-delay: 0.0125s;
}
.cssload-container .cssload-shaft2 {
	animation-delay: 0.035s;
		-o-animation-delay: 0.035s;
		-ms-animation-delay: 0.035s;
		-webkit-animation-delay: 0.035s;
		-moz-animation-delay: 0.035s;
}
.cssload-container .cssload-shaft3 {
	animation-delay: 0.0475s;
		-o-animation-delay: 0.0475s;
		-ms-animation-delay: 0.0475s;
		-webkit-animation-delay: 0.0475s;
		-moz-animation-delay: 0.0475s;
}
.cssload-container .cssload-shaft4 {
	animation-delay: 0.07s;
		-o-animation-delay: 0.07s;
		-ms-animation-delay: 0.07s;
		-webkit-animation-delay: 0.07s;
		-moz-animation-delay: 0.07s;
}
.cssload-container .cssload-shaft5 {
	animation-delay: 0.0825s;
		-o-animation-delay: 0.0825s;
		-ms-animation-delay: 0.0825s;
		-webkit-animation-delay: 0.0825s;
		-moz-animation-delay: 0.0825s;
}
.cssload-container .cssload-shaft6 {
	animation-delay: 0.105s;
		-o-animation-delay: 0.105s;
		-ms-animation-delay: 0.105s;
		-webkit-animation-delay: 0.105s;
		-moz-animation-delay: 0.105s;
}
.cssload-container .cssload-shaft7 {
	animation-delay: 0.1175s;
		-o-animation-delay: 0.1175s;
		-ms-animation-delay: 0.1175s;
		-webkit-animation-delay: 0.1175s;
		-moz-animation-delay: 0.1175s;
}
.cssload-container .cssload-shaft8 {
	animation-delay: 0.14s;
		-o-animation-delay: 0.14s;
		-ms-animation-delay: 0.14s;
		-webkit-animation-delay: 0.14s;
		-moz-animation-delay: 0.14s;
}
.cssload-container .cssload-shaft9 {
	animation-delay: 0.1525s;
		-o-animation-delay: 0.1525s;
		-ms-animation-delay: 0.1525s;
		-webkit-animation-delay: 0.1525s;
		-moz-animation-delay: 0.1525s;
}
.cssload-container .cssload-shaft10 {
	animation-delay: 0.175s;
		-o-animation-delay: 0.175s;
		-ms-animation-delay: 0.175s;
		-webkit-animation-delay: 0.175s;
		-moz-animation-delay: 0.175s;
}

.cssload-container > div {
	height: 5px;
	animation: cssload-wave 0.35s infinite ease-in-out;
		-o-animation: cssload-wave 0.35s infinite ease-in-out;
		-ms-animation: cssload-wave 0.35s infinite ease-in-out;
		-webkit-animation: cssload-wave 0.35s infinite ease-in-out;
		-moz-animation: cssload-wave 0.35s infinite ease-in-out;
	transform: translateY"("-23px")";
		-o-transform: translateY"("-23px")";
		-ms-transform: translateY"("-23px")";
		-webkit-transform: translateY"("-23px")";
		-moz-transform: translateY"("-23px")";
}



@keyframes cssload-wave {
	50% {
		background: rgb(0,240,64);
		transform: translateY"("23px")";
	}
}

@-o-keyframes cssload-wave {
	50% {
		background: rgb(0,240,64);
		-o-transform: translateY"("23px")";
	}
}

@-ms-keyframes cssload-wave {
	50% {
		background: rgb(0,240,64);
		-ms-transform: translateY"("23px")";
	}
}

@-webkit-keyframes cssload-wave {
	50% {
		background: rgb(0,240,64);
		-webkit-transform: translateY"("23px")";
	}
}

@-moz-keyframes cssload-wave {
	50% {
		background: rgb(0,240,64);
		-moz-transform: translateY"("23px")";
	}
}