.form-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(78,78,78, 0.3);
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    color: #000;
    z-index:1000;
  }
  
  #form-close {
    border: 5px solid #f95d51;
    border-radius: 50%;
    background: url(../img/close.png) no-repeat center center;
    background-size: 13px;
    background-color: #eee;
    width:30px;
    height:30px;
    display:inline-block;
    position: absolute;
    top: -18px;
    right: 40px;
    cursor: pointer;
  }
  
  .feedback-form {
    max-width: 500px;
    margin: 30px auto;
    border: 1px solid #c9c9c9;
    background-color: #eee;
    position:relative;
  }
  
  .feedback-form .header {
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    padding: 60px 40px 0px 40px;
    border-top: 5px solid #f95d51;
    color: #FF0000;
    font-weight: 400;
    background-color: #eee;
  }
  
  .flex-outer {
    list-style-type: none;
    padding: 40px;
  }
  
  .flex-outer li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .flex-outer > li:not(:last-child) {
    margin-bottom: 20px;
  }
  
  .flex-label {
    flex: 1 0 120px;
    max-width: 220px;
    padding:10px 20px 10px 0px;
  }
  
  .flex-input {
    flex: 1 0 220px;
  }
  
  .flex-outer li input:not([type='checkbox']),
  .flex-outer li textarea {
    padding: 15px;
    border: 1px solid #c9c9c9;
    font-size:16px;
    width: 100%;
  }
  
  .flex-outer li input:not([type='checkbox'])::placeholder {
    color: #ccc;
  }
  
  .flex-outer li button {
    font-size:16px;
    padding: 14px 18px;
    border: none;
    background: #3AAFAB;
    color: #f2f2f2;
    font-weight: 700;
    border-radius: 2px;
    cursor: pointer;
    flex: 0 0 auto;
  }
  
  @media (max-width: 480px) {
    .flex-outer li button {
        flex: 1 0 auto;
    }
  }
  
  .flex-outer li button:disabled {
    background: #99CCCC;
  }
  
  .flex-outer li button:not(:disabled):hover {
    background: #2FC1BC;
  }
  
  input:focus, button:focus, textarea:focus, select:focus {
    outline: none;
  }
  
  .flex-outer li input[type="text"]:focus,
  .flex-outer li input[type="number"]:focus,
  .flex-outer li input[type="tel"]:focus {
    border:1px solid #66FFFF;
  }
  
  .flex-outer li input[type="text"]:hover,
  .flex-outer li input[type="number"]:hover,
  .flex-outer li input[type="tel"]:hover {
    border:1px solid #000;
  }
  
  .show-from {
    display: block;
    opacity: 1;
  }
  
  .hide-form {
    display: none;
    opacity: 0;
  }
  
  .agree {
    font-size: 14px;
    max-width: 100% !important;
    line-height: 1.5;
  }
  
  #agree {
    margin:-2px 8px 0px 0px;
    vertical-align: middle;
  }
  
  #feedback-message {
    display: none;
    font-size: 16px;
    color: #fff;
    width: 100%;
    padding: 25px;
    text-align: center;
  }
  
  .loader {
    width: 78px;
    margin: 0 auto;
    height: 18px;
  }
  .dot-loader{
    float:left;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    -webkit-animation: 0.8s scaleDown ease-in-out infinite ;
    animation: 0.8s scaleDown ease-in-out infinite ;
    margin: 5px 8px 0px 8px;
  }
  
  .dot-loader:nth-child(2){
    -webkit-animation: 0.8s scaleDown ease-in-out infinite .15555s;
    animation: 0.8s scaleDown ease-in-out infinite .15555s;
  }
  
  .dot-loader:nth-child(3){
    -webkit-animation: 0.8s scaleDown ease-in-out infinite .300000s;
    animation: 0.8s scaleDown ease-in-out infinite .300000s;
  }
  
  @-webkit-keyframes scaleDown{
    0%, 80%, 100%{
    -webkit-transform: scale(0);
            transform: scale(0);
    }
    40%{
    -webkit-transform: scale(1);
            transform: scale(1);
    }
  }
  
  @keyframes scaleDown{
    0%, 80%, 100%{
    -webkit-transform: scale(0);
            transform: scale(0);
    }
    40%{
    -webkit-transform: scale(1);
            transform: scale(1);
    }
  }