@font-face {
	font-family: 'Gotham Pro';
	src: url('fonts/GothamPro-BoldItalic.eot');
	src: local('Gotham Pro Bold Italic'), local('GothamPro-BoldItalic'),
		url('fonts/GothamPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/GothamPro-BoldItalic.woff') format('woff'),
		url('fonts/GothamPro-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('fonts/GothamPro-Italic.eot');
	src: local('Gotham Pro Italic'), local('GothamPro-Italic'),
		url('fonts/GothamPro-Italic.eot?#iefix') format('embedded-opentype'),
		url('fonts/GothamPro-Italic.woff') format('woff'),
		url('fonts/GothamPro-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('fonts/GothamPro-Medium.eot');
	src: local('Gotham Pro Medium'), local('GothamPro-Medium'),
		url('fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/GothamPro-Medium.woff') format('woff'),
		url('fonts/GothamPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('fonts/GothamPro-BlackItalic.eot');
	src: local('Gotham Pro Black Italic'), local('GothamPro-BlackItalic'),
		url('fonts/GothamPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/GothamPro-BlackItalic.woff') format('woff'),
		url('fonts/GothamPro-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('fonts/GothamPro-Bold.eot');
	src: local('Gotham Pro Bold'), local('GothamPro-Bold'),
		url('fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/GothamPro-Bold.woff') format('woff'),
		url('fonts/GothamPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro Narrow';
	src: url('fonts/GothamProNarrow-Bold.eot');
	src: local('Gotham Pro Narrow Bold'), local('GothamProNarrow-Bold'),
		url('fonts/GothamProNarrow-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/GothamProNarrow-Bold.woff') format('woff'),
		url('fonts/GothamProNarrow-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro Narrow';
	src: url('fonts/GothamProNarrow-Medium.eot');
	src: local('Gotham Pro Narrow Medium'), local('GothamProNarrow-Medium'),
		url('fonts/GothamProNarrow-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/GothamProNarrow-Medium.woff') format('woff'),
		url('fonts/GothamProNarrow-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('fonts/GothamPro-LightItalic.eot');
	src: local('Gotham Pro Light Italic'), local('GothamPro-LightItalic'),
		url('fonts/GothamPro-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/GothamPro-LightItalic.woff') format('woff'),
		url('fonts/GothamPro-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('fonts/GothamPro-Light.eot');
	src: local('Gotham Pro Light'), local('GothamPro-Light'),
		url('fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/GothamPro-Light.woff') format('woff'),
		url('fonts/GothamPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('fonts/GothamPro-Black.eot');
	src: local('Gotham Pro Black'), local('GothamPro-Black'),
		url('fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
		url('fonts/GothamPro-Black.woff') format('woff'),
		url('fonts/GothamPro-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('fonts/GothamPro.eot');
	src: local('Gotham Pro'), local('GothamPro'),
		url('fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
		url('fonts/GothamPro.woff') format('woff'),
		url('fonts/GothamPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('fonts/GothamPro-MediumItalic.eot');
	src: local('Gotham Pro Medium Italic'), local('GothamPro-MediumItalic'),
		url('fonts/GothamPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/GothamPro-MediumItalic.woff') format('woff'),
		url('fonts/GothamPro-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

* {
	margin: 0px;
	padding: 0px;
	outline:none !important;
}

*:focus {
	outline:none !important;
	box-shadow: none !important;
}

html, body {
	font-family: 'Gotham Pro', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color:var(--black);
    background-color: var(--white);
    height:100%;
}

:root {
	--yellow: #ffdd2d;
	--light-yellow: #FFEC8C;
	--black: #000000;
	--white: #FFFFFF;
	--gray: #F4F4F4;
	--dark-gray: #e9ecef;
	--darkest-gray: #949494;
	--green: #28E762;
	--light-green: #ace7be;
	--red: #f95d51;
	--bright-red: #FF0000;
	--light-red: #e2aca9;
}

.accent-color {
	color:var(--yellow);
}

button, input[type='submit'] {
	font-size: 16px;
	color:var(--black);
	line-height: 20px;
	background-color: var(--yellow);
    border-radius: 5px;
    border:1px solid #333;
    padding:14px 30px;
	display:block;
	text-align:center;
}

button.load, input[type='submit'].load {
	animation: stripes-move 0.75s infinite linear;
    background: repeating-linear-gradient(45deg, var(--red) 0, var(--red) 0.8em, transparent 0.8em, transparent 1.4em);
    
}

button:disabled {
	background-color: var(--gray) !important;
	color: #999;
	border-color: #999;
}

@keyframes stripes-move {
  100% {
    background-position: 5em 0px;
  }
}

button.action {
	font-size: 20px;
	color:var(--black);
	line-height: 38px;
	background-color:var(--yellow);
}

button.black {
	color:var(--white);
	background-color:var(--black);
}

a {
	color:var(--white);
}

a:hover {
	color:var(--yellow);
}

p, h1, h2, h3 {
	margin-bottom:25px;
}

h2 {
	font-size: 40px;
	line-height: 38px;
}

h3 {
	font-size: 24px;
	line-height: 30px;
}

.container-xl, .content {
    height:100%;
}

.row {
	margin:0px;
	padding:0px;
}

.form-control {
	padding: 10px;
}

header {
	background-color: var(--yellow);
}

header .navbar-brand img {
	width:50px;
	float:left;
}

header .navbar-light .navbar-nav .nav-link {
	color:black;
	text-decoration: none;
}

header .balance {
	text-align:right;
}

.stock-info .price, .stock-info .name {
	padding:0px 10px;
}

.invalid-tooltip {
	display:block;
	opacity:0;
}

.stock-info, .portfolio, .history, .orders {
	margin-top:15px;
}

.stock-info .price {
	font-size: 24px;
	white-space: nowrap;
}

.history {
	padding-right:15px;
}

.history .items {
    display:flex;
    flex-direction:column;
}

.history .items .item {
    display:flex;
}

.history .item:nth-child(2n) {
    background-color:#ddd;
}

.history .item div {
    text-align:left;
	overflow:hidden;
	flex:1 1 100%;
	padding:4px 10px;
}

.history .item .value {
    
}
.history .item .time {
    
}

.container > div {
    padding:15px;
}

.portfolio > .operation > div:not(:last-child) {
	padding-right:10px;
}

.operation .input-group {
	flex-wrap: nowrap;
}

.operation .buy .price, .operation .buy .count {
	border-color: var(--green);
}

.operation .sell .price, .operation .sell .count {
	border-color: var(--red);
}

.operation button {
    padding:12px 16px;
	font-size: 16px;
	display:block;
	width:100%;
	background-color:var(--dark-gray);
}

.operation .buy, .operation .sell {
    margin-top:20px;
}

.operation .limit button {
    width:100px;
}

.matches-output {
	position: relative;
	display: none;
}

.matches {
    position: absolute;
    top:0;
    left:0;
    list-style-type:none;
	background-color:white;
	padding:0px;
	border:1px solid black;
	z-index:100;
}

.matches li {
    padding:4px 10px;
    background-color:white;
    transition: all 0.3s;
}

.matches li a {
    text-decoration:none;
    color:#888;
}

.matches li a:hover {
    color:var(--yellow);
}

.price .ratio {
	font-weight: bolder;
}

.price .ratio:before {
	display: inline;
	content:'';
}

.price .ratio.positive {
	color:var(--green);
}

.dinamic.positive:before {
	width:24px;
	background: url('../img/up.png') center center no-repeat;
}

.price .ratio.negative {
	color:var(--red);
}

.dinamic.negative:before {
	width:24px;
	background: url('../img/down.png') center center no-repeat;
}

.summary {
	padding-top:10px;
}

.summary .table {
	
}

.summary .table .header {
	background-color:var(--dark-gray);
	display:flex;
}

.summary .table .header > div {
	border-right:1px solid var(--gray);
	flex: 1 1 100%;
	padding:2px 8px;
}

.summary .table .value {
	display:flex;
	text-align: center;
}

.summary .table .value > span {
	flex: 1 1 100%;
	padding:2px 8px;
}

.summary .table .header {
	font-size: 12px;
	text-align: center;
}

.orders .order > div:not(:last-child) {
	padding-right:10px;
}

.orders .order:not(:first-child) {
	margin-top:10px;
}

.orders .order .type {
	font-size: 24px;
	padding:10px 20px;
}

.orders .order .type.buy {
	background-color: var(--green);
}

.orders .order .type.sell {
	background-color: var(--red);
}

#status {
	position: relative;
	width: 44px;
}

#status:before {
	content:'';
	border-radius: 50%;
	width: 20px;
    height: 20px;
    background-color: var(--darkest-gray);
    position: absolute;
    top: 12px;
    left: 11px;
}

#status.on:before {
    background-color: var(--green);
}

#status.off:before {
	background-color: var(--bright-red);
}